# Database Configuration
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=
DATABASE_PORT=
DATABASE_HOST=

# REDIS CREDENTIALS
REDIS_HOST=
REDIS_PASSWORD=
REDIS_DB=
REDIS_PORT=

# MAIL CREDENTIALS
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_MAIL=
MAIL_PORT=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TLS=
MAIL_USE_CREDENTIALS=
MAIL_VALIDATE_CERTS=
MAIL_TEMPLATE_FOLDER=

# AUTH CREDENTIALS
AUTH_SECRET_KEY=
AUTH_ALGORITHM=
AUTH_ACCESS_TOKEN_EXPIRE=
AUTH_REFRESH_TOKEN_EXPIRE=

# PDF CREDENTIALS
PDF_PATH=
PDF_AGREEMENT_NAME=
PDF_CACHE_MAX_AGE=

# MOVIEHUB_CORE
MOVIEHUB_CORE=
ENVIRONMENT=
DEBUG=
CORS_ORIGIN=